<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelle</title>
    <style>
        a{
            margin-top: .5rem;
        }
    </style>
</head>
    <body style="display: flex; flex-direction: column;">
        <a href="/ar-food?m=avocado">Avocado</a>
        <a href="/ar-food?m=quiche">Quiche</a>
        <a href="/ar-food?m=donut">Donut (mit Schönheitsfehler)</a>
        <a href="/ar-food?m=pizza">Pizza Extragroß</a>
    </body>
</html>